# References
- https://kontext.tech/column/code-snippets/402/pandas-dataframe-plot-pie-chart
- https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c
- https://data36.com/pandas-tutorial-2-aggregation-and-grouping/

In [1]:
import pandas as pd

In [29]:
df = pd.read_csv("abc.csv")

In [30]:
df

,lastname,firstname,boss,division
0,Anthony,Michelle (Contractor) L,Calli (Contractor) Jenkerson,Science Division
1,Ballu,Anudeep (Contractor),NaN,NaN
2,Benedict,Trenton D,NaN,NaN
3,Boyte,Stephen,Kristi Sayler,Integrated Science & Applications Branch
4,Bunde,Brett (Contractor),Danny (Contractor) Howard,Science Division
5,Butzer,Tony (Contractor),Cory (Contractor) Van Batavia,Satellite Ground System Division
6,Dahal,Devendra (Contractor),Danny (Contractor) Howard,Science Division
7,Danielson,Patrick (Contractor),Danny (Contractor) Howard,Science Division
8,Holen,Cheryl (Contractor) L,NaN,NaN
9,Mainali,Pukar (Contractor),NaN,NaN
10,Mcelhone,Maxwell T,NaN,NaN
11,Oimoen,Michael (Contractor) J,NaN,NaN
12,Pastick,Neal (Contractor) J,Danny (Contractor) Howard,Science Division
13,Postma,Kory (Contractor),Jayson (Contractor) Holter,Satellite Ground System Division
14,Rigge,Matthew B,Kristi Sayler,Integrated Science & Applications Branch
15,Rover,Jennifer,Peter Doucette,Integrated Science & Applications Branch
16,Schoen,Candi (Contractor),NaN,NaN
17,Shrestha,Dinesh,NaN,NaN
18,Smith,Kelcy (Contractor) L,Ryan (Contractor) Reker,Science Division
19,Sun,Minxuan,NaN,NaN
20,Wylie,Bruce K,Kristi Sayler,Integrated Science & Applications Branch
21,Young,Claudia (Contractor),NaN,NaN
22,Zhou,Qiang (Contractor),Ramesh (Contractor) Singh,Science Division

In [41]:
import numpy as np
df1 = df.replace(np.nan, '', regex=True)

In [42]:
df1

,lastname,firstname,boss,division
0,Anthony,Michelle (Contractor) L,Calli (Contractor) Jenkerson,Science Division
1,Ballu,Anudeep (Contractor),,
2,Benedict,Trenton D,,
3,Boyte,Stephen,Kristi Sayler,Integrated Science & Applications Branch
4,Bunde,Brett (Contractor),Danny (Contractor) Howard,Science Division
5,Butzer,Tony (Contractor),Cory (Contractor) Van Batavia,Satellite Ground System Division
6,Dahal,Devendra (Contractor),Danny (Contractor) Howard,Science Division
7,Danielson,Patrick (Contractor),Danny (Contractor) Howard,Science Division
8,Holen,Cheryl (Contractor) L,,
9,Mainali,Pukar (Contractor),,
10,Mcelhone,Maxwell T,,
11,Oimoen,Michael (Contractor) J,,
12,Pastick,Neal (Contractor) J,Danny (Contractor) Howard,Science Division
13,Postma,Kory (Contractor),Jayson (Contractor) Holter,Satellite Ground System Division
14,Rigge,Matthew B,Kristi Sayler,Integrated Science & Applications Branch
15,Rover,Jennifer,Peter Doucette,Integrated Science & Applications Branch
16,Schoen,Candi (Contractor),,
17,Shrestha,Dinesh,,
18,Smith,Kelcy (Contractor) L,Ryan (Contractor) Reker,Science Division
19,Sun,Minxuan,,
20,Wylie,Bruce K,Kristi Sayler,Integrated Science & Applications Branch
21,Young,Claudia (Contractor),,
22,Zhou,Qiang (Contractor),Ramesh (Contractor) Singh,Science Division

In [51]:
for index,row in df1.iterrows():
    if row.boss:
        print(row.boss)
    else:
        print('NULL',row.boss)
        df1.loc[index,'boss'] = 'Calli (Contractor) Jenkerson'

 Calli (Contractor) Jenkerson
NULL
NULL
 Kristi Sayler
 Danny (Contractor) Howard
 Cory (Contractor) Van Batavia
 Danny (Contractor) Howard
 Danny (Contractor) Howard
NULL
NULL
NULL
NULL
 Danny (Contractor) Howard
 Jayson (Contractor) Holter
 Kristi Sayler
 Peter Doucette
NULL
NULL
 Ryan (Contractor) Reker
NULL
 Kristi Sayler
NULL
 Ramesh (Contractor) Singh

In [52]:
df1.to_csv('abc.csv',index=False)

In [53]:
!ls; cat abc.csv

00-git-clone-download-class-notebook-materials.ipynb
01-Students.ipynb
01-notebook-basic-navigation.ipynb
02-markdown.ipynb
02a-creating-a-new-notebook.ipynb
03-zen.ipynb
04-students-redirector.ipynb
05-Ten-Things.ipynb
99-Students-Copy1.ipynb
abc.csv
studentsV1.csv
studentsV2.csv
lastname,firstname,boss,division
Anthony,Michelle (Contractor) L, Calli (Contractor) Jenkerson, Science Division
Ballu,Anudeep (Contractor),Calli (Contractor) Jenkerson,Science Division
Benedict,Trenton D,Calli (Contractor) Jenkerson,Science Division
Boyte,Stephen, Kristi Sayler, Integrated Science & Applications Branch
Bunde,Brett (Contractor), Danny (Contractor) Howard, Science Division
Butzer,Tony (Contractor), Cory (Contractor) Van Batavia, Satellite Ground System Division
Dahal,Devendra (Contractor), Danny (Contractor) Howard, Science Division
Danielson,Patrick (Contractor), Danny (Contractor) Howard, Science Division
Holen,Cheryl (Contractor) L,Calli (Contractor) Jenkerson,Science Division
Mainali,Pukar (Contractor),Calli (Contractor) Jenkerson,Science Division
Mcelhone,Maxwell T,Calli (Contractor) Jenkerson,Science Division
Oimoen,Michael (Contractor) J,Calli (Contractor) Jenkerson,Science Division
Pastick,Neal (Contractor) J, Danny (Contractor) Howard, Science Division
Postma,Kory (Contractor), Jayson (Contractor) Holter, Satellite Ground System Division
Rigge,Matthew B, Kristi Sayler, Integrated Science & Applications Branch
Rover,Jennifer, Peter Doucette, Integrated Science & Applications Branch
Schoen,Candi (Contractor),Calli (Contractor) Jenkerson,Science Division
Shrestha,Dinesh,Calli (Contractor) Jenkerson,Science Division
Smith,Kelcy (Contractor) L, Ryan (Contractor) Reker, Science Division
Sun,Minxuan,Calli (Contractor) Jenkerson,Science Division
Wylie,Bruce K, Kristi Sayler, Integrated Science & Applications Branch
Young,Claudia (Contractor),Calli (Contractor) Jenkerson,Science Division
Zhou,Qiang (Contractor), Ramesh (Contractor) Singh, Science Division

In [21]:
import re
for index,row in df.iterrows():
    #print(row)
    fn = re.sub(r"<.*>","", row.firstname)
    fn = fn.strip()
    print ("<%s>" % (fn))
    df.loc[index, 'firstname'] = fn

<Neal (Contractor) J>
<Kory (Contractor)>
<Brett (Contractor)>
<Patrick (Contractor)>
<Tony (Contractor)>
<Devendra (Contractor)>
<Bruce K>
<Jennifer>
<Qiang (Contractor)>
<Matthew B>
<Stephen>
<Kelcy (Contractor) L>
<Michelle (Contractor) L>
<Anudeep (Contractor)>
<Pukar (Contractor)>
<Minxuan>
<Maxwell T>
<Claudia (Contractor)>
<Cheryl (Contractor) L>
<Neal (Contractor) J>
<Kory (Contractor)>
<Brett (Contractor)>
<Patrick (Contractor)>
<Devendra (Contractor)>
<Bruce K>
<Jennifer>
<Qiang (Contractor)>
<Matthew B>
<Stephen>
<Kelcy (Contractor) L>
<Michelle (Contractor) L>
<Trenton D>
<Dinesh>
<Candi (Contractor)>
<Michael (Contractor) J>

In [22]:
df

,lastname,firstname,boss,division
0,Pastick,Neal (Contractor) J,Danny (Contractor) Howard,Science Division
1,Postma,Kory (Contractor),Jayson (Contractor) Holter,Satellite Ground System Division
2,Bunde,Brett (Contractor),Danny (Contractor) Howard,Science Division
3,Danielson,Patrick (Contractor),Danny (Contractor) Howard,Science Division
4,Butzer,Tony (Contractor),Cory (Contractor) Van Batavia,Satellite Ground System Division
5,Dahal,Devendra (Contractor),Danny (Contractor) Howard,Science Division
6,Wylie,Bruce K,Kristi Sayler,Integrated Science & Applications Branch
7,Rover,Jennifer,Peter Doucette,Integrated Science & Applications Branch
8,Zhou,Qiang (Contractor),Ramesh (Contractor) Singh,Science Division
9,Rigge,Matthew B,Kristi Sayler,Integrated Science & Applications Branch
10,Boyte,Stephen,Kristi Sayler,Integrated Science & Applications Branch
11,Smith,Kelcy (Contractor) L,Ryan (Contractor) Reker,Science Division
12,Anthony,Michelle (Contractor) L,Calli (Contractor) Jenkerson,Science Division
13,Ballu,Anudeep (Contractor),NaN,NaN
14,Mainali,Pukar (Contractor),NaN,NaN
15,Sun,Minxuan,NaN,NaN
16,Mcelhone,Maxwell T,NaN,NaN
17,Young,Claudia (Contractor),NaN,NaN
18,Holen,Cheryl (Contractor) L,NaN,NaN
19,Pastick,Neal (Contractor) J,NaN,NaN
20,Postma,Kory (Contractor),NaN,NaN
21,Bunde,Brett (Contractor),NaN,NaN
22,Danielson,Patrick (Contractor),NaN,NaN
23,Dahal,Devendra (Contractor),NaN,NaN
24,Wylie,Bruce K,NaN,NaN
25,Rover,Jennifer,NaN,NaN
26,Zhou,Qiang (Contractor),NaN,NaN
27,Rigge,Matthew B,NaN,NaN
28,Boyte,Stephen,NaN,NaN
29,Smith,Kelcy (Contractor) L,NaN,NaN
30,Anthony,Michelle (Contractor) L,NaN,NaN
31,Benedict,Trenton D,NaN,NaN
32,Shrestha,Dinesh,NaN,NaN
33,Schoen,Candi (Contractor),NaN,NaN
34,Oimoen,Michael (Contractor) J,NaN,NaN

In [28]:
df.to_csv('abc.csv',index=False)

In [27]:
!ls; cat abc.csv

00-git-clone-download-class-notebook-materials.ipynb
01-Students.ipynb
01-notebook-basic-navigation.ipynb
02-markdown.ipynb
02a-creating-a-new-notebook.ipynb
03-zen.ipynb
04-students-redirector.ipynb
05-Ten-Things.ipynb
99-Students-Copy1.ipynb
abc.csv
studentsV1.csv
studentsV2.csv
lastname,firstname,boss,division
Pastick,Neal (Contractor) J, Danny (Contractor) Howard, Science Division
Postma,Kory (Contractor), Jayson (Contractor) Holter, Satellite Ground System Division
Bunde,Brett (Contractor), Danny (Contractor) Howard, Science Division
Danielson,Patrick (Contractor), Danny (Contractor) Howard, Science Division
Butzer,Tony (Contractor), Cory (Contractor) Van Batavia, Satellite Ground System Division
Dahal,Devendra (Contractor), Danny (Contractor) Howard, Science Division
Wylie,Bruce K, Kristi Sayler, Integrated Science & Applications Branch
Rover,Jennifer, Peter Doucette, Integrated Science & Applications Branch
Zhou,Qiang (Contractor), Ramesh (Contractor) Singh, Science Division
Rigge,Matthew B, Kristi Sayler, Integrated Science & Applications Branch
Boyte,Stephen, Kristi Sayler, Integrated Science & Applications Branch
Smith,Kelcy (Contractor) L, Ryan (Contractor) Reker, Science Division
Anthony,Michelle (Contractor) L, Calli (Contractor) Jenkerson, Science Division
Ballu,Anudeep (Contractor),,
Mainali,Pukar (Contractor),,
Sun,Minxuan,,
Mcelhone,Maxwell T,,
Young,Claudia (Contractor),,
Holen,Cheryl (Contractor) L,,
Pastick,Neal (Contractor) J,,
Postma,Kory (Contractor),,
Bunde,Brett (Contractor),,
Danielson,Patrick (Contractor),,
Dahal,Devendra (Contractor),,
Wylie,Bruce K,,
Rover,Jennifer,,
Zhou,Qiang (Contractor),,
Rigge,Matthew B,,
Boyte,Stephen,,
Smith,Kelcy (Contractor) L,,
Anthony,Michelle (Contractor) L,,
Benedict,Trenton D,,
Shrestha,Dinesh,,
Schoen,Candi (Contractor),,
Oimoen,Michael (Contractor) J,,

# Groupby division

In [4]:
students=df

In [5]:
by_division = students.groupby('division').count()

In [6]:
by_division

                                           lastname  firstname  boss
division
 Integrated Science & Applications Branch         4          4     4
 Satellite Ground System Division                 2          2     2
 Science Division                                 7          7     7

In [7]:
type(by_division)

pandas.core.frame.DataFrame

In [8]:
howard = students[students['boss'].str.contains('Howard')]

ValueError: Cannot mask with non-boolean array containing NA / NaN values

# Who works for Danny Howard - I knew a Steve Howard

In [ ]:
howard

In [ ]:
science_folks = students[students['division'].str.contains('Science')]

In [ ]:
science_folks

In [ ]:
len(science_folks)

In [ ]:
by_division

# Plot the classes of students using boss

In [ ]:
boss_by_division = by_division['boss']

In [ ]:
boss_by_division

In [ ]:
boss_by_division.plot.pie(autopct='%1.1f%%', shadow = True)

In [ ]:
boss_by_division.plot.bar()

# Improve the colors

In [ ]:
from itertools import islice
from itertools import cycle
my_colors =  list(islice(cycle(['b', 'r', 'g', 'y', 'k']),None,len(boss_by_division)))

In [ ]:
boss_by_division.plot(title='boss by division', kind='bar', stacked=True, color=my_colors)

In [ ]:
sayler = students[students['boss'].str.contains('Sayler')]

In [ ]:
sayler

In [ ]:
print(students['lastname'])

In [ ]:
lastname = students['lastname']
lastname

In [ ]:
lastname_no_indices = lastname.to_string(index=False)

In [ ]:
print(lastname_no_indices)

In [ ]:
type(lastname_no_indices)

In [ ]:
for i in lastname_no_indices.split('\n'):
    #print(i)
    i = i.lower()
    i = i.strip()
    print(i)